<div class="justify-content-space-between mb-3">
  <h2>{{ title }}</h2>
  <button mat-raised-button color="accent" (click)="startRandomRate()" *ngIf="!isRandomRating">Random Rating</button>
  <button mat-raised-button color="accent" (click)="stopRandomRate()" *ngIf="isRandomRating">Stop Random Rating</button>
</div>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel class="bg-dark border-purple" *ngFor="let movie of (movies$ | async); let idx = index" [expanded]="step === idx" (opened)="setStep(idx)" hideToggle>
    <mat-expansion-panel-header class="movie" [class.loading]="(loading$ | async)">
      <mat-panel-title class="text-title">
        {{ movie.title }}
      </mat-panel-title>
      <mat-panel-description class="text-description">
        <div class="left-group">
          {{ movie.rating }} / 5 ({{ movie.numberOfVotes }} {{ movie.numberOfVotes > 1 ? 'votes' : 'vote' }})
        </div>

        <div class="right-group ml-3">
          <mat-icon color="accent">star_outline</mat-icon>
          <div class="ml-3">Rate This</div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="justify-content-space-between">
      <div class="text-description">Duration: {{ movie.duration }} mins</div>
      <app-star-rating
        class="justify-end mr-3 mb-3"
        [color]="'accent'"
        [rating]="newRating"
        [starCount]="5"
        (ratingUpdated)="onRatingChanged($event)"
      ></app-star-rating>
    </div>
    <div class="text-description text-align-start">{{ movie.description }}</div>

    <mat-action-row class="border-gray">
      <button mat-raised-button color="accent" style="margin-right: 24px; padding-left: 24px; padding-right: 24px" (click)="rateMovie(movie, newRating)">Submit</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
