.movie-description {
  max-width: 250px;
  margin: 0 !important;
  padding: 0 !important;
  color: white;
}

.example-headers-align .mat-expansion-panel-header-title {
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
