#wrapper {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  margin: 0 auto;
  padding: 12px 0;
}

.example-headers-align .mat-expansion-panel-header-title {
  justify-content: space-between;
  align-items: center;
  min-width: 230px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
