@import '~@angular/material/theming';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }

h2 {
  margin: 0 !important;
  color: #5b1d6e;
}
.bg-dark {
  background-color: #000;
}
.border-purple {
  border-bottom: 1px solid #5b1d6e;
}
.border-gray {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.link {
  color: white;
}
.snackbar-purple {
  background-color: #ba89d7;
  color: #000000;
}

////////////////
// text
////////////////
.text-align-start {
  text-align: start;
}
.text-title {
  color: #ffffff;
}
.text-description {
  color: rgba(255, 255, 255, 0.7);
  font-size: small;
}
.font-size-medium {
  font-size: medium;
}

////////////////
// alignment
////////////////
.justify-content-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.justify-end {
  display: flex;
  justify-content: flex-end;
}
.right-group {
  display: flex;
  align-items: center;
}
.mb-3 {
  margin-bottom: 8px;
}
.mr-3 {
  margin-right: 8px;
}
.ml-3 {
  margin-left: 8px;
}
