#wrapper {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  width: 550px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: row;
}

form > input {
  flex-grow: 1;
  outline: none;
  padding-left: 4px;
  border: 0px;
  height: 20px;
}

form > button {
  border: 0px;
  background: #10ac84;
  color: white;
  outline: none;

  &:hover {
    background: #006266;
  }
}
